<!doctype html>
<html>
   <head>
      <!-- include angular js-->
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
   </head>
   
   <body ng-app = "MyApp">
      <div ng-controller = "MyController">
         <h2>This is  {{memo.title}} controller demo!</h2>
      </div>
      
      <script>
      	 angular.module("MyApp", []).controller("MyController", function($scope) {
            $scope.memo = {};
            $scope.memo.title = "AngularJS";
         });
      </script>
   </body>
</html>