<!doctype html>
<html>
   <head>
      <!-- include angular js-->
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
      <script src = "https://cdnjscn.b0.upaiyun.com/libs/angular.js/1.2.18/angular-route.js"></script>
      <script src = "../module/viewDemoController.js" ></script>
      <style type = "text/css" rel = "../styles/style.css"></style>
   </head>
   
   <body>
   	  <h2>AngularJS Service demo Application</h2>
     
      <div ng-app = "mainApp" ng-controller = "CalcController">
         <p>Enter a number: <input type = "number" ng-model = "number" /></p>
         <button ng-click = "square()">X<sup>2</sup></button>
         <p>Result: {{result}}</p>
      </div>
   </body>
</html>